<a href="https://colab.research.google.com/github/saigirishgilly98/Major_Project/blob/main/WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install scrapy

Collecting scrapy
  Downloading https://files.pythonhosted.org/packages/fd/49/425c39549e277510d5cbc9f8f6ae36e1d4faf9fd768b613af1dd6b786c60/Scrapy-2.4.0-py2.py3-none-any.whl (239kB)
     |████████████████████████████████| 245kB 2.8MB/s
Collecting pyOpenSSL>=16.2.0
  Downloading https://files.pythonhosted.org/packages/9e/de/f8342b68fa9e981d348039954657bdf681b2ab93de27443be51865ffa310/pyOpenSSL-19.1.0-py2.py3-none-any.whl (53kB)
     |████████████████████████████████| 61kB 4.7MB/s
Collecting cryptography>=2.0
  Downloading https://files.pythonhosted.org/packages/33/62/30f6936941d87a5ed72efb24249437824f6b2c953901245b58c91fde2f27/cryptography-3.1.1-cp35-abi3-manylinux2010_x86_64.whl (2.6MB)
     |████████████████████████████████| 2.6MB 9.7MB/s
Collecting itemloaders>=1.0.1
  Downloading https://files.pythonhosted.org/packages/b9/c5/bd4d083c6d5368885cb8d10ea8355d38a958a57e5bc73945fc3905a7e1ca/itemloaders-1.0.3-py3-none-any.whl
Collecting parsel>=1.5.0
  Downloading https://files.pythonhosted.org/packages/23/1e/9b39d64cbab79d4362cdd7be7f5e9623d45c4a53b3f7522cd8210df52d8e/parsel-1.6.0-py2.py3-none-any.whl
Collecting itemadapter>=0.1.0
  Downloading https://files.pythonhosted.org/packages/58/ac/608b38e3e9e31243d92efc597c037ffd34463ba57dc3965aeb5d9a5bfe8b/itemadapter-0.1.1-py3-none-any.whl
Collecting w3lib>=1.17.0
  Downloading https://files.pythonhosted.org/packages/a3/59/b6b14521090e7f42669cafdb84b0ab89301a42f1f1a82fcf5856661ea3a7/w3lib-1.22.0-py2.py3-none-any.whl
Collecting protego>=0.1.15
  Downloading https://files.pythonhosted.org/packages/db/6e/bf6d5e4d7cf233b785719aaec2c38f027b9c2ed980a0015ec1a1cced4893/Protego-0.1.16.tar.gz (3.2MB)
     |████████████████████████████████| 3.2MB 26.3MB/s
Collecting zope.interface>=4.1.3
  Downloading https://files.pythonhosted.org/packages/c5/89/1eb9dbb9e24f5e2c29ab1a88097b2f1333858aac3cd3cccc6c4c1c8ad867/zope.interface-5.1.2-cp36-cp36m-manylinux2010_x86_64.whl (236kB)
     |████████████████████████████████| 245kB 34.2MB/s
Collecting cssselect>=0.9.1
  Downloading https://files.pythonhosted.org/packages/3b/d4/3b5c17f00cce85b9a1e6f91096e1cc8e8ede2e1be8e96b87ce1ed09e92c5/cssselect-1.1.0-py2.py3-none-any.whl
Collecting Twisted>=17.9.0
  Downloading https://files.pythonhosted.org/packages/b7/04/1a664c9e5ec0224a1c1a154ddecaa4dc7b8967521bba225efcc41a03d5f3/Twisted-20.3.0-cp36-cp36m-manylinux1_x86_64.whl (3.1MB)
     |████████████████████████████████| 3.1MB 44.0MB/s
Collecting PyDispatcher>=2.0.5
  Downloading https://files.pythonhosted.org/packages/cd/37/39aca520918ce1935bea9c356bcbb7ed7e52ad4e31bff9b943dfc8e7115b/PyDispatcher-2.0.5.tar.gz
Requirement already satisfied: lxml>=3.5.0; platform_python_implementation == "CPython" in /usr/local/lib/python3.6/dist-packages (from scrapy) (4.2.6)
Collecting service-identity>=16.0.0
  Downloading https://files.pythonhosted.org/packages/e9/7c/2195b890023e098f9618d43ebc337d83c8b38d414326685339eb024db2f6/service_identity-18.1.0-py2.py3-none-any.whl
Collecting queuelib>=1.4.2
  Downloading https://files.pythonhosted.org/packages/4c/85/ae64e9145f39dd6d14f8af3fa809a270ef3729f3b90b3c0cf5aa242ab0d4/queuelib-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.6/dist-packages (from pyOpenSSL>=16.2.0->scrapy) (1.15.0)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /usr/local/lib/python3.6/dist-packages (from cryptography>=2.0->scrapy) (1.14.3)
Collecting jmespath>=0.9.5
  Downloading https://files.pythonhosted.org/packages/07/cb/5f001272b6faeb23c1c9e0acc04d48eaaf5c862c17709d20e3469c6e0139/jmespath-0.10.0-py2.py3-none-any.whl
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from zope.interface>=4.1.3->scrapy) (50.3.0)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.6/dist-packages (from Twisted>=17.9.0->scrapy) (20.2.0)
Collecting PyHamcrest!=1.10.0,>=1.9.0
  Downloading https://files.pythonhosted.org/packages/40/16/e54cc65891f01cb62893540f44ffd3e8dab0a22443e1b438f1a9f5574bee/PyHamcrest-2.0.2-py3-none-any.whl (52kB)
     |████████████████████████████████| 61kB 4.1MB/s
Collecting constantly>=15.1
  Downloading https://files.pythonhosted.org/packages/b9/65/48c1909d0c0aeae6c10213340ce682db01b48ea900a7d9fce7a7910ff318/constantly-15.1.0-py2.py3-none-any.whl
Collecting hyperlink>=17.1.1
  Downloading https://files.pythonhosted.org/packages/88/a5/74f77547e9b175eb894d4fec5c76b0c8176c045e5bf3ac6a4d4d3feab4bb/hyperlink-20.0.1-py2.py3-none-any.whl (48kB)
     |████████████████████████████████| 51kB 6.2MB/s
Collecting incremental>=16.10.1
  Downloading https://files.pythonhosted.org/packages/f5/1d/c98a587dc06e107115cf4a58b49de20b19222c83d75335a192052af4c4b7/incremental-17.5.0-py2.py3-none-any.whl
Collecting Automat>=0.3.0
  Downloading https://files.pythonhosted.org/packages/dd/83/5f6f3c1a562674d65efc320257bdc0873ec53147835aeef7762fe7585273/Automat-20.2.0-py2.py3-none-any.whl
Requirement already satisfied: pyasn1 in /usr/local/lib/python3.6/dist-packages (from service-identity>=16.0.0->scrapy) (0.4.8)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.6/dist-packages (from service-identity>=16.0.0->scrapy) (0.2.8)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi!=1.11.3,>=1.8->cryptography>=2.0->scrapy) (2.20)
Requirement already satisfied: idna>=2.5 in /usr/local/lib/python3.6/dist-packages (from hyperlink>=17.1.1->Twisted>=17.9.0->scrapy) (2.10)
Building wheels for collected packages: protego, PyDispatcher
  Building wheel for protego (setup.py) ... done
  Created wheel for protego: filename=Protego-0.1.16-cp36-none-any.whl size=7765 sha256=e0efacc386fef950bbffb727e3cb79f73f6f9a3bc63c3de7bd09c1e8cc62a7f1
  Stored in directory: /root/.cache/pip/wheels/51/01/d1/4a2286a976dccd025ba679acacfe37320540df0f2283ecab12
  Building wheel for PyDispatcher (setup.py) ... done
  Created wheel for PyDispatcher: filename=PyDispatcher-2.0.5-cp36-none-any.whl size=11517 sha256=a70532fc9d0dd07a9ef1d53bf1718b046fa79ecdc4f13b7a604466bb0d2c069c
  Stored in directory: /root/.cache/pip/wheels/88/99/96/cfef6665f9cb1522ee6757ae5955feedf2fe25f1737f91fa7f
Successfully built protego PyDispatcher
Installing collected packages: cryptography, pyOpenSSL, cssselect, w3lib, parsel, itemadapter, jmespath, itemloaders, protego, zope.interface, PyHamcrest, constantly, hyperlink, incremental, Automat, Twisted, PyDispatcher, service-identity, queuelib, scrapy
Successfully installed Automat-20.2.0 PyDispatcher-2.0.5 PyHamcrest-2.0.2 Twisted-20.3.0 constantly-15.1.0 cryptography-3.1.1 cssselect-1.1.0 hyperlink-20.0.1 incremental-17.5.0 itemadapter-0.1.1 itemloaders-1.0.3 jmespath-0.10.0 parsel-1.6.0 protego-0.1.16 pyOpenSSL-19.1.0 queuelib-1.5.0 scrapy-2.4.0 service-identity-18.1.0 w3lib-1.22.0 zope.interface-5.1.2

In [ ]:
import scrapy
from scrapy.crawler import CrawlerProcess

In [ ]:
class DC_Chapter_Spider(scrapy.Spider):
  
  name = "dc_chapter_spider"

  def start_requests(self):
    url = 'https://www.datacamp.com/courses/all'
    yield scrapy.Request(url = url, callback = self.parse_front)

  def parse_front(self, response):
    # Narrow in on the course blocks
    course_blocks = response.css('div.course-block')

    # Direct to the course links
    course_links = course_blocks.xpath('./a/@href')

    # Extract the links (as a list of strings)
    links_to_follow = course_links.extract()

    # Follow the links to the next parser
    for url in links_to_follow:
      yield response.follow(url = url, callback = self.parse_pages)

  def parse_pages(self, response):
    
    # Direct to the course title text
    crs_title = response.xpath('//h1[contains(@class,"title")]/text()')
    
    # Extract and clean the course title text
    crs_title_ext = crs_title.extract_first().strip()
    
    # Direct to the chapter titles text
    ch_titles = response.css( 'h4.chapter__title::text' )
    
    # Extract and clean the chapter titles text
    ch_titles_ext = [t.strip() for t in ch_titles.extract()]
    
    # Store this in our dictionary
    dc_dict[ crs_title_ext ] = ch_titles_ext


dc_dict = dict()

process = CrawlerProcess()
process.crawl(DC_Chapter_Spider)
process.start()

In [ ]:
dc_dict

In [1]:
import pandas as pd
import csv

In [ ]:
class Payscale_Spider(scrapy.Spider):

  name = "payscale_spider"

  def start_requests(self):
    url = 'https://www.payscale.com/research/IN/Job/Information-Technology'
    yield scrapy.Request(url = url, callback = self.parse_jobs)

  def parse_jobs(self, response):

    job_blocks = response.css('div.subcats__links')
    job_links = job_blocks.xpath('./a/@href').extract()
    for link in job_links:
      yield response.follow(url = 'https://www.payscale.com' + link, callback = self.parse_salary)

  def parse_salary(self, response):

    # Extract the job
    job_title = response.url[41:len(response.url)-7]

    # Extract the average salary
    avg_salary = response.css('div.spotlight__value::text').extract_first()

    # Extract bonus, commission and profit sharing
    bonus_commision_profitsharing_value = response.css('div.spotlight__stat-value::text').extract()
    bonus_commision_profitsharing_label = response.css('div.spotlight__stat-label::text').extract()

    # Extract percentile of salary
    percentile_salary_ = response.css('div.percentile-chart__label')
    percentile_salary_name = percentile_salary_.xpath('./div[1]/text()').extract()
    percentile_salary_value = percentile_salary_.xpath('./div[2]/text()').extract()

    # Extract salary_distribution, company salaries and related job salaries
    salary_distribution_title = response.css('div.tablerow__title > a::text').extract()
    salary_distribution_value = response.css('div.tablerow__value::text').extract()

    # Extract career paths
    career_paths = response.xpath('//div[@class = "tree-chart__leaf_container"]/div[1]/text()').extract()

    # Extract popular skill and salaries
    skills_name = response.css('a.popular-skill__name::text').extract()
    skills_salaries = response.css('div.popular-skill__pay::text').extract()
    
    # Extract pay by experience
    pay_by_experience = response.css('div.job__blurb::text').extract()

    # Extract pay difference by location, experience affects salary, skills affect salary
    pay_by_location_name = response.css('div.entry > div.name > a::text').extract()
    pay_by_location_symbol = response.css('div.entry > div.arrow > span::attr(class)').extract()
    pay_by_location_percent = response.css('div.entry > div.arrow::text').extract()

    # Extract years of experience, gender breakdown
    experience_name = response.css('div.pie-chart__name::text').extract()
    experience_percent = response.css('div.pie-chart__value::text').extract() 

    # Extract health benefits
    health_benefits_name = response.css('div.health-benefits__item-name::text').extract()
    health_benefits_value = response.css('div.health-benefits__item-value::text').extract()

    # Updating all the values in the dictionary
    salary_dict['average_salary'] = avg_salary
    for label, value in zip(bonus_commision_profitsharing_label, bonus_commision_profitsharing_value):
      salary_dict[label] = value
    for label, value in zip(percentile_salary_name, percentile_salary_value):
      salary_dict[label] = value
    for label, value in zip(salary_distribution_title, salary_distribution_value[5:]):
      salary_dict[label] = value 
    salary_dict['career_paths'] = career_paths
    for label, value in zip(skills_name, skills_salaries):
      salary_dict[label + '_salary'] = value
    pay_by_experience_salary = list()
    for word in pay_by_experience[2].split():
      if word.startswith('₹'):
        pay_by_experience_salary.append(word)
    salary_dict['1yr'] = pay_by_experience_salary[0]
    salary_dict['1-4yrs'] = pay_by_experience_salary[1]
    salary_dict['5-9yrs'] = pay_by_experience_salary[2]
    salary_dict['10-19yrs'] = pay_by_experience_salary[3]
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
    for label, symbol, value in zip(pay_by_location_name, pay_by_location_symbol, pay_by_location_percent):
      if symbol == 'negative':
        salary_dict[label + '_percent'] = '-' + value
      else:
        salary_dict[label + '_percent'] = value
    for label, value in zip(experience_name, experience_percent[::2]):
      salary_dict[label] = value
    for label, value in zip(health_benefits_name, health_benefits_value[::2]):
      salary_dict[label] = value
    salary_dict['Job Title'] = job_title

    # Storing the values in csv file
    df = pd.DataFrame(salary_dict)
    df.to_csv('' + job_title + '.csv')

salary_dict = dict()

process = CrawlerProcess()
process.crawl(Payscale_Spider)
process.start()

2020-10-16 15:09:57 [scrapy.utils.log] INFO: Scrapy 2.4.0 started (bot: scrapybot)
2020-10-16 15:09:57 [scrapy.utils.log] INFO: Versions: lxml 4.2.6.0, libxml2 2.9.8, cssselect 1.1.0, parsel 1.6.0, w3lib 1.22.0, Twisted 20.3.0, Python 3.6.9 (default, Jul 17 2020, 12:50:27) - [GCC 8.4.0], pyOpenSSL 19.1.0 (OpenSSL 1.1.1h  22 Sep 2020), cryptography 3.1.1, Platform Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
2020-10-16 15:09:57 [scrapy.utils.log] DEBUG: Using reactor: twisted.internet.epollreactor.EPollReactor
2020-10-16 15:09:57 [scrapy.crawler] INFO: Overridden settings:
{}
2020-10-16 15:09:57 [scrapy.extensions.telnet] INFO: Telnet Password: 694b012c46cfb37e
2020-10-16 15:09:57 [scrapy.middleware] INFO: Enabled extensions:
['scrapy.extensions.corestats.CoreStats',
 'scrapy.extensions.telnet.TelnetConsole',
 'scrapy.extensions.memusage.MemoryUsage',
 'scrapy.extensions.logstats.LogStats']
2020-10-16 15:09:57 [scrapy.middleware] INFO: Enabled downloader middlewares:
['scrapy.downloadermiddlewares.httpauth.HttpAuthMiddleware',
 'scrapy.downloadermiddlewares.downloadtimeout.DownloadTimeoutMiddleware',
 'scrapy.downloadermiddlewares.defaultheaders.DefaultHeadersMiddleware',
 'scrapy.downloadermiddlewares.useragent.UserAgentMiddleware',
 'scrapy.downloadermiddlewares.retry.RetryMiddleware',
 'scrapy.downloadermiddlewares.redirect.MetaRefreshMiddleware',
 'scrapy.downloadermiddlewares.httpcompression.HttpCompressionMiddleware',
 'scrapy.downloadermiddlewares.redirect.RedirectMiddleware',
 'scrapy.downloadermiddlewares.cookies.CookiesMiddleware',
 'scrapy.downloadermiddlewares.httpproxy.HttpProxyMiddleware',
 'scrapy.downloadermiddlewares.stats.DownloaderStats']
2020-10-16 15:09:57 [scrapy.middleware] INFO: Enabled spider middlewares:
['scrapy.spidermiddlewares.httperror.HttpErrorMiddleware',
 'scrapy.spidermiddlewares.offsite.OffsiteMiddleware',
 'scrapy.spidermiddlewares.referer.RefererMiddleware',
 'scrapy.spidermiddlewares.urllength.UrlLengthMiddleware',
 'scrapy.spidermiddlewares.depth.DepthMiddleware']
2020-10-16 15:09:57 [scrapy.middleware] INFO: Enabled item pipelines:
[]
2020-10-16 15:09:57 [scrapy.core.engine] INFO: Spider opened
2020-10-16 15:09:57 [scrapy.extensions.logstats] INFO: Crawled 0 pages (at 0 pages/min), scraped 0 items (at 0 items/min)
2020-10-16 15:09:57 [scrapy.extensions.telnet] INFO: Telnet console listening on 127.0.0.1:6023
2020-10-16 15:09:58 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job/Information-Technology> (referer: None)
2020-10-16 15:09:58 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=PHP_Developer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:09:58 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Android_Software_Developer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:09:59 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=PHP_Developer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 79, in parse_salary
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
IndexError: list index out of range
2020-10-16 15:09:59 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Android_Software_Developer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 79, in parse_salary
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
IndexError: list index out of range
2020-10-16 15:09:59 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Development_Operations_(DevOps)_Engineer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:09:59 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Technical_Support_Engineer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:09:59 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Development_Operations_(DevOps)_Engineer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 79, in parse_salary
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
IndexError: list index out of range
2020-10-16 15:09:59 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Systems_Engineer%2C_IT/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:09:59 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Systems_Engineer%2C_IT/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 79, in parse_salary
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
IndexError: list index out of range
2020-10-16 15:09:59 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Technical_Architect/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:09:59 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Associate_Software_Engineer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:09:59 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Front_End_Developer_%2F_Engineer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:09:59 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Associate_Software_Engineer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 79, in parse_salary
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
IndexError: list index out of range
2020-10-16 15:09:59 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Front_End_Developer_%2F_Engineer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 79, in parse_salary
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
IndexError: list index out of range
2020-10-16 15:09:59 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Project_Manager%2C_Information_Technology_(IT)/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:09:59 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Information_Technology_(IT)_Manager/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:09:59 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Java_Developer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:00 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Java_Developer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 79, in parse_salary
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
IndexError: list index out of range
2020-10-16 15:10:00 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Lead_Software_Engineer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:00 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Data_Scientist/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:00 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Technical_Consultant/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:00 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Business_Analyst%2C_IT/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:00 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Service_Desk_Analyst/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:00 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Application_Support_Analyst/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:00 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Process_Analyst/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:00 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Service_Desk_Analyst/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 79, in parse_salary
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
IndexError: list index out of range
2020-10-16 15:10:00 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Application_Support_Analyst/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 79, in parse_salary
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
IndexError: list index out of range
2020-10-16 15:10:00 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Process_Analyst/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 79, in parse_salary
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
IndexError: list index out of range
2020-10-16 15:10:00 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Network_Engineer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:00 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=ASP.NET_Developer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:00 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Senior_.NET_Developer_%2F_Programmer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:00 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Security_Consultant%2C_(Computing_%2F_Networking_%2F_Information_Technology)/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:00 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=ASP.NET_Developer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 75, in parse_salary
    salary_dict['1yr'] = pay_by_experience_salary[0]
IndexError: list index out of range
2020-10-16 15:10:00 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Senior_.NET_Developer_%2F_Programmer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 78, in parse_salary
    salary_dict['10-19yrs'] = pay_by_experience_salary[3]
IndexError: list index out of range
2020-10-16 15:10:00 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=ScrumMaster/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:00 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Senior_Software_Development_Engineer_(SDE)/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:00 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=ScrumMaster/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 79, in parse_salary
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
IndexError: list index out of range
2020-10-16 15:10:00 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Java_Software_Developer_%2F_Programmer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:01 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Senior_Software_Development_Engineer_(SDE)/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 78, in parse_salary
    salary_dict['10-19yrs'] = pay_by_experience_salary[3]
IndexError: list index out of range
2020-10-16 15:10:01 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Senior_Software_Architect/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:01 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Java_Software_Developer_%2F_Programmer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 79, in parse_salary
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
IndexError: list index out of range
2020-10-16 15:10:01 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=PHP_Web_Developer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:01 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Senior_Software_Architect/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 79, in parse_salary
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
IndexError: list index out of range
2020-10-16 15:10:01 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Senior_Systems_Engineer_(Computer_Networking_%2F_IT)/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:01 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Senior_Systems_Administrator/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:01 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=PHP_Web_Developer/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 75, in parse_salary
    salary_dict['1yr'] = pay_by_experience_salary[0]
IndexError: list index out of range
2020-10-16 15:10:01 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Senior_Systems_Engineer_(Computer_Networking_%2F_IT)/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "<ipython-input-3-d832c61a57ad>", line 79, in parse_salary
    salary_dict['20+yrs'] = pay_by_experience_salary[4]
IndexError: list index out of range
2020-10-16 15:10:01 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.payscale.com/research/IN/Job=Project_Manager%2C_Software_Development/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
2020-10-16 15:10:01 [scrapy.core.scraper] ERROR: Spider error processing <GET https://www.payscale.com/research/IN/Job=Senior_Systems_Administrator/Salary> (referer: https://www.payscale.com/research/IN/Job/Information-Technology)
Traceback (most recent call last):

In [ ]:
salary_dict

{'.NET Software Developer / Programmer': '₹151k - ₹968k',
 '.NET_percent': '-8%',
 '.NET_salary': '₹803,979',
 '1-4yrs': '₹501,168',
 '10%': '₹261k',
 '10-19yrs': '₹1,507,035',
 '1yr': '₹394,619',
 '20+yrs': '₹813,892.',
 '3i Infotech Inc.': '₹158k',
 '5-9yrs': '₹886,543',
 '90%': '₹1m',
 'ABAP/4_salary': '₹511,531',
 'ASP.NET Framework_percent': '-11%',
 'ASP.NET Framework_salary': '₹412,972',
 'Accentcare, Inc.': '₹297k - ₹2m',
 'Accenture': '₹447k',
 'Accenture Technology Solutions': '₹455k',
 'Acceptance Testing_percent': '7%',
 'Accountant': '₹151k - ₹980k',
 'Adobe Photoshop_salary': '₹359,159',
 'Advanced Business Application Programming (ABAP) Language_salary': '₹485,059',
 'Agile Software Development_percent': '6%',
 'Agile Software Development_salary': '₹2,057,899',
 'Ahmedabad, Gujarat_percent': '-22%',
 'Algorithm Development_salary': '₹1,391,324',
 'Amadeus India Pvt Ltd': '₹2m',
 'Amazon Web Services (AWS)_percent': '-9%',
 'Amazon Web Services (AWS)_salary': '₹483,333',
 'Amazon.com Inc': '₹1m',
 'Amdocs, Inc,.': '₹670k',
 'Android Operating System Development_salary': '₹384,633',
 'Android Software Development Kit (SDK)_salary': '₹389,971',
 'Angular.js_percent': '1%',
 'Angular.js_salary': '₹534,850',
 'Apache HTTP Server_salary': '₹388,898',
 'Apache Hadoop_salary': '₹914,431',
 'Apache Spark_salary': '₹935,452',
 'Apple Computer, Inc': '₹261k - ₹1m',
 'Apple Xcode IDE_salary': '₹430,483',
 'Applied Materials Inc': '₹1m',
 'Arthur J. Gallagher & Company': '₹274k',
 'Aspire Systems': '₹259k - ₹1m',
 'Associate Software Engineer': '₹239k - ₹1m',
 'Atos Origin': '₹1m',
 'Automatic Data Processing, Inc. (ADP)': '₹2m',
 'Automation Scripting_salary': '₹445,141',
 'Bangalore, Karnataka_percent': '16%',
 'Bank of America Corp. (BOFA)': '₹813k',
 'Barclays Technology Center India': '₹3m',
 'Bentley Systems, Incorporated': '₹261k - ₹1m',
 'Big Data Analytics_percent': '11%',
 'BitWise': '₹259k - ₹1m',
 'Black Box Testing_percent': '26%',
 'Black Box Testing_salary': '₹571,112',
 'Bonus': '₹51,222',
 'Bootstrap_salary': '₹428,629',
 'British Telecom': '₹159k - ₹806k',
 'Broadridge Financial Solutions, Inc.': '₹228k',
 'Business Analysis_percent': '13%',
 'Business Analysis_salary': '₹1,012,647',
 'Business Analyst (Unspecified Type)': '₹249k - ₹1m',
 'Business Analyst, IT': '₹276k - ₹1m',
 'Business Intelligence (BI) Developer': '₹389k - ₹2m',
 'Business Intelligence_salary': '₹524,324',
 'Business Strategy_percent': '-7%',
 'C Programming Language_percent': '10%',
 'C Programming Language_salary': '₹406,420',
 'C# Programming Language_percent': '-5%',
 'C# Programming Language_salary': '₹503,603',
 'C++ Programming Language_percent': '15%',
 'C++ Programming Language_salary': '₹2,410,648',
 'CGI Group Inc.': '₹671k',
 'Capgemini': '₹334k',
 'Capgemini Consulting': '₹759k',
 'Capita india': '₹574k',
 'Cascading Style Sheets (CSS)_salary': '₹297,625',
 'Cerner Corporation': '₹261k - ₹1m',
 'Chennai, Tamil Nadu_percent': '-6%',
 'Cisco Networking_percent': '-18%',
 'Cisco Networking_salary': '₹265,623',
 'Cisco Systems Inc': '₹1m',
 'Citibank': '₹3m',
 'Civil Engineer': '₹156k - ₹781k',
 'Cloud Computing_percent': '9%',
 'Cloud Computing_salary': '₹1,996,297',
 'Clover Infotech': '₹259k - ₹1m',
 'Cognizant': '₹896k',
 'Cognizant Technology Solutions Corp': '₹824k',
 'Coimbatore, Tamil Nadu_percent': '-31%',
 'Commission': '₹19,653',
 'Competitive Analysis_percent': '4%',
 'Computer Sciences Corporation (CSC)': '₹481k',
 'Concentrix Corporation': '₹303k',
 'Content Writer': '₹132k - ₹516k',
 'Convergys Corporation': '₹451k',
 'Credit Suisse': '₹3m',
 'Css Corp': '₹380k',
 'Customer Service Representative (CSR)': '₹574k - ₹2m',
 'Customer Service_percent': '-25%',
 'Customer Service_salary': '₹376,709',
 'Cybage': '₹525k',
 'Cyber Security_percent': '6%',
 'Cyber Security_salary': '₹876,228',
 'Danske Bank': '₹2m',
 'Dassault Systemes Inc': '₹571k',
 'Data Analysis_percent': '-1%',
 'Data Analysis_salary': '₹387,904',
 'Data Analyst': '₹586k - ₹2m',
 'Data Modeling_percent': '10%',
 'Data Processing_salary': '₹278,753',
 'Data Scientist': '₹343k - ₹2m',
 'Data Warehouse_salary': '₹604,999',
 'Database Administration_percent': '2%',
 'Database Administration_salary': '₹504,198',
 'Database Administrator (DBA)': '₹306k - ₹2m',
 'Database Management_percent': '-14%',
 'Deep Learning_percent': '14%',
 'Dell, Inc.': '₹2m',
 'Deloitte': '₹811k',
 'Deloitte & Touche LLP': '₹159k - ₹806k',
 'Deloitte Consulting LLP': '₹938k',
 'Dental': '8',
 'Desktop Support Engineer': '₹297k - ₹2m',
 'Deutsche Bank': '₹3m',
 'Development Operations (DevOps) Engineer': '₹196k - ₹623k',
 'Development Operations (DevOps)_salary': '₹701,409',
 'Digital Marketing Analyst': '₹164k - ₹554k',
 'Digital Marketing Associate': '₹143k - ₹513k',
 'Digital Marketing Manager': '₹225k - ₹1m',
 'Digital Marketing Specialist': '₹170k - ₹696k',
 'Dimension Data': '₹784k',
 'Directi': '₹678k',
 'EMC Corporation': '₹2m',
 'ETL (Extract, transform, load)_salary': '₹552,718',
 'EY (Ernst & Young)': '₹2m',
 'Early Career': '69.1',
 'Early Career_percent': '-5%',
 'Eclinicalworks, LLC': '₹500k',
 'Embedded / Real-Time / RTOS_percent': '-8%',
 'Embedded / Real-Time / RTOS_salary': '₹404,755',
 'Engineering Design_percent': '-4%',
 'Engineering Design_salary': '₹1,495,074',
 'Enterprise Application Integration_percent': '10%',
 'Enterprise Solutions_percent': '14%',
 'Enterprise Solutions_salary': '₹2,074,919',
 'Entry Level': '11.3',
 'Entry Level_percent': '-25%',
 'Ericsson Inc.': '₹2m',
 'Expedia, Inc.': '₹1m',
 'Experienced': '3.1',
 'Experienced_percent': '185%',
 'FIS': '₹877k',
 'Female': '15.6',
 'Fidelity Investments': '₹2m',
 'Financial Analyst': '₹279k - ₹1m',
 'First Advantage Corporation': '₹388k',
 'Fiserv India Pvt Ltd': '₹259k - ₹1m',
 'Flatworld Solutions': '₹359k',
 'Flextronics International': '₹256k',
 'Flipkart': '₹1m',
 'Freshdesk': '₹261k - ₹1m',
 'Front End Developer / Engineer': '₹193k - ₹1m',
 'Functional Analysis_percent': '11%',
 'General Electric Co (GE)': '₹1m',
 'Genpact': '₹2m',
 'GlaxoSmithKline': '₹578k',
 'Globant': '₹650k',
 'Godrej Infotech': '₹2m',
 'Google Analytics_salary': '₹237,805',
 'Graphic Designer': '₹220k - ₹1m',
 'Groupon, Inc.': '₹261k - ₹1m',
 'Gurgaon, Haryana_percent': '28%',
 'HCL Infosystem Ltd.': '₹250k',
 'HCL Technologies Ltd.': '₹389k',
 'HP Inc.': '₹280k',
 'HTML5_salary': '₹307,247',
 'HTML_percent': '-12%',
 'HTML_salary': '₹243,157',
 'Harman International': '₹2m',
 'Help Desk / Desktop Support (Tier 1)_salary': '₹350,568',
 'Help Desk / Desktop Support (Tier 2)_percent': '-25%',
 'Help Desk / Desktop Support (Tier 2)_salary': '₹354,547',
 'Hexaware Technologies Inc.': '₹812k',
 'Hibernate_salary': '₹924,549',
 'Honeywell Technology Solutions, Inc.': '₹2m',
 'Hyderabad, Andhra Pradesh_percent': '2%',
 'IBM DB2_percent': '1%',
 'IBM Global Services': '₹259k - ₹1m',
 'IBM India Private Limited': '₹919k',
 'IP Network_percent': '5%',
 'IQVIA': '₹733k',
 'IT Consulting_percent': '6%',
 'IT Consulting_salary': '₹956,238',
 'IT Management_percent': '1%',
 'IT Management_salary': '₹1,986,011',
 'IT Security & Infrastructure_percent': '-5%',
 'IT Security & Infrastructure_salary': '₹566,500',
 'ITC Infotech': '₹597k',
 'Icon Clinical Research Inc': '₹509k',
 'IndiaNIC Infotech Ltd': '₹300k',
 'InfoSys Limited': '₹412k',
 'Information Security Analyst': '₹234k - ₹915k',
 'Information Security Manager': '₹232k - ₹1m',
 'Information Technology (IT) Consultant': '₹390k - ₹2m',
 'Information Technology (IT) Manager': '₹159k - ₹806k',
 'Information Technology (IT) Support_percent': '1%',
 'Information Technology (IT) Support_salary': '₹1,100,561',
 'Information Technology Infrastructure Library (ITIL)_percent': '6%',
 'Information Technology Infrastructure Library (ITIL)_salary': '₹1,000,000',
 'Infosys BPO': '₹393k',
 'Infosys International': '₹668k',
 'Intel Corporation': '₹1m',
 'Internal Audit_percent': '-18%',
 'International Business Machines (IBM) Corp.': '₹712k',
 'Internet Information Server (IIS)_percent': '-5%',
 'J.P. Morgan Asset Management': '₹480k',
 'J.P. Morgan Chase & Co. (JPMCC)': '₹1m',
 'JIRA_salary': '₹1,222,731',
 'Java Developer': '₹198k - ₹1m',
 'Java/J2EE_percent': '3%',
 'Java/J2EE_salary': '₹787,388',
 'JavaScript_percent': '1%',
 'JavaScript_salary': '₹535,781',
 'Java_percent': '9%',
 'Java_salary': '₹575,403',
 'Jenkins_salary': '₹694,497',
 'Jio': '₹787k',
 'Job Title': 'Software_Engineer',
 'KPIT Cummins Infosystems Limited': '₹350k',
 'Kolkata, West Bengal_percent': '-8%',
 'L & T Infotech Ltd': '₹1m',
 'Larsen and Toubro Ltd.': '₹486k - ₹2m',
 'Late Career': '0.3',
 'Late Career_percent': '54%',
 'Lead Software Engineer': '₹776k - ₹3m',
 'Leadership_percent': '8%',
 'Leadership_salary': '₹2,210,397',
 'Linux System Administrator': '₹196k - ₹623k',
 'Linux_percent': '40%',
 'Linux_salary': '₹745,029',
 'MEDIAN': '₹529k',
 'Machine Learning_percent': '9%',
 'Machine Learning_salary': '₹888,185',
 'Maersk Line, Ltd.': '₹430k',
 'Male': '84.3',
 'Market Research_percent': '5%',
 'Marketing Executive': '₹149k - ₹547k',
 'Marketing Manager': '₹290k - ₹2m',
 'McAfee, Inc.': '₹2m',
 'Mechanical Engineer': '₹151k - ₹981k',
 'Medical': '70',
 'Microsoft Active Directory_percent': '9%',
 'Microsoft Active Directory_salary': '₹440,073',
 'Microsoft Corp': '₹2m',
 'Microsoft Excel_percent': '-21%',
 'Microsoft Excel_salary': '₹302,776',
 'Microsoft India': '₹2m',
 'Microsoft Office_percent': '-8%',
 'Microsoft Office_salary': '₹299,954',
 'Microsoft Project_percent': '3%',
 'Microsoft SQL Server_percent': '-13%',
 'Microsoft SQL Server_salary': '₹435,206',
 'Microsoft Visio_percent': '-1%',
 'Microsoft Word_percent': '-24%',
 'Mid Career': '16.2',
 'Mid Career_percent': '68%',
 'Mindtree Consulting': '₹1m',
 'Mobile applications development_salary': '₹387,213',
 'Model-view-controller (MVC)_salary': '₹409,931',
 'Morgan Stanley Advantage Services': '₹3m',
 'Mphasis Corp.': '₹1m',
 'Mphasis Corporation': '₹874k',
 'Mu Sigma': '₹639k',
 'Mumbai, Maharashtra_percent': '-6%',
 'MySQL_percent': '-4%',
 'MySQL_salary': '₹476,805',
 'NIIT Technology': '₹790k',
 'NTT Data Corporation': '₹299k',
 'Nagarro': '₹2m',
 'Natural Language Processing (NLP)_percent': '22%',
 'Neosoft': '₹350k',
 'Network Administrator': '₹167k - ₹780k',
 'Network Engineer': '₹196k - ₹623k',
 'Network Management / Administration_percent': '-10%',
 'Network Management / Administration_salary': '₹364,858',
 'Network Security Engineer': '₹390k - ₹2m',
 'Network Security Management_percent': '4%',
 'Network Security Management_salary': '₹759,061',
 'Network Support_percent': '-3%',
 'Network Support_salary': '₹316,424',
 'New Delhi, Delhi_percent': '0%',
 'Node.js_salary': '₹516,193',
 'Noida, Uttar Pradesh_percent': '-8%',
 'Nokia Siemens Networks': '₹3m',
 'Nokia, Inc.': '₹2m',
 'None': '30',
 'Novartis': '₹750k',
 'OYO Rooms': '₹2m',
 'Object Oriented Analysis Design (OO/AD)_percent': '-4%',
 'Object Oriented Programming (OOP)_salary': '₹1,299,651',
 'Objective-C_salary': '₹533,083',
 'OpenText Corp.': '₹261k - ₹1m',
 'Operations Management_percent': '-12%',
 'Operations Management_salary': '₹362,963',
 'Operations Manager': '₹297k - ₹2m',
 'Oracle': '₹992k',
 'Oracle 10g_percent': '-14%',
 'Oracle 11g_percent': '1%',
 'Oracle 11g_salary': '₹543,790',
 'Oracle Corp.': '₹1m',
 'Oracle DB 8i/9i/10g/ 11i_percent': '10%',
 'Oracle Database Administrator (DBA)': '₹389k - ₹2m',
 'Oracle RAC_percent': '23%',
 'Oracle RAC_salary': '₹706,557',
 'Oracle_percent': '10%',
 'Oracle_salary': '₹574,799',
 'PHP Developer': '₹119k - ₹610k',
 'PHP_percent': '-24%',
 'PHP_salary': '₹265,348',
 'PL/SQL_percent': '-6%',
 'PL/SQL_salary': '₹469,966',
 'Parexel': '₹200k - ₹947k',
 'Penetration Testing_percent': '-15%',
 'People Management_percent': '1%',
 'People Management_salary': '₹3,485,118',
 'PepsiCo India Holdings Pvt Ltd': '₹3m',
 'Persistent Systems': '₹936k',
 'Pramati Technologies': '₹3m',
 'Pre-Sales_percent': '-2%',
 'Prefer to self-define': '0.2',
 'PricewaterhouseCoopers': '₹3m',
 'Problem Solving_salary': '₹396,015',
 'Process Improvement_salary': '₹392,322',
 'Product Development_percent': '-2%',
 'Product Development_salary': '₹1,650,000',
 'Product Management_percent': '3%',
 'Product Management_salary': '₹1,727,542',
 'Profit Sharing': '₹45,544',
 'Program Management_salary': '₹2,077,586',
 'Project Coordinating_percent': '-4%',
 'Project Coordinating_salary': '₹1,452,215',
 'Project Management_percent': '33%',
 'Project Management_salary': '₹1,195,542',
 'Project Manager, (Unspecified Type / General)': '₹468k - ₹2m',
 'Project Manager, Information Technology (IT)': '₹574k - ₹2m',
 'Pune, Maharashtra_percent': '-1%',
 'Python_percent': '18%',
 'Python_salary': '₹624,029',
 'Quality Assurance / Quality Control_percent': '-6%',
 'Quality Assurance / Quality Control_salary': '₹361,109',
 'Quality Improvement / QA_percent': '-1%',
 'Quality Improvement / QA_salary': '₹381,574',
 'Quintiles, Inc.': '₹605k',
 'R3 ABAP_salary': '₹585,784',
 'RESTful Web Services_percent': '-1%',
 'RESTful Web Services_salary': '₹1,097,103',
 'R_percent': '6%',
 'R_salary': '₹863,589',
 'Ramco Systems': '₹696k',
 'React.js_salary': '₹605,499',
 'Red Hat, Inc.': '₹261k - ₹1m',
 'Regression Testing_percent': '21%',
 'Regression Testing_salary': '₹389,461',
 'Requirements Analysis_percent': '29%',
 'Requirements Analysis_salary': '₹1,632,448',
 'Robert Bosch': '₹3m',
 'Robert Bosch Engineering and Business Solutions Limited': '₹2m',
 'Royal Bank of Scotland': '₹425k',
 'SAP ABAP_percent': '9%',
 'SAP ABAP_salary': '₹703,372',
 'SAP Basis_percent': '18%',
 'SAP Basis_salary': '₹590,256',
 'SAP Business Intelligence (SAP BI)_percent': '35%',
 'SAP Business Workflow_salary': '₹610,419',
 'SAP Enterprise Resource Planning (ERP)_percent': '-2%',
 'SAP Enterprise Resource Planning (ERP)_salary': '₹631,294',
 'SAP Financial Accounting and Controlling (SAP FICO)_percent': '-2%',
 'SAP Financial Accounting and Controlling (SAP FICO)_salary': '₹632,238',
 'SAP Human Resources (SAP HR)_percent': '3%',
 'SAP Labs India': '₹922k',
 'SAP Materials Management (SAP MM)_percent': '-11%',
 'SAP Materials Management (SAP MM)_salary': '₹577,290',
 'SAP NetWeaver_salary': '₹692,041',
 'SAP Production Planning (SAP PP)_percent': '-5%',
 'SAP Sales and Distribution (SAP SD)_percent': '11%',
 'SAP Sales and Distribution (SAP SD)_salary': '₹715,933',
 'SAP Security_percent': '-8%',
 'SAS (Statistical Analysis System)_salary': '₹611,285',
 'SAS_salary': '₹576,747',
 'SQL Server Integration Services (SSIS)_salary': '₹508,682',
 'SQL_percent': '-6%',
 'SQL_salary': '₹495,588',
 'SQLite_salary': '₹353,442',
 'Sapient Corporation': '₹261k - ₹1m',
 'ScrumMaster_percent': '27%',
 'ScrumMaster_salary': '₹1,237,075',
 'Scrum_salary': '₹1,191,362',
 'Search Engine Marketing (SEM)_salary': '₹245,453',
 'Search Engine Optimization (SEO) Manager': '₹247k - ₹1m',
 'Search Engine Optimization (SEO) Specialist': '₹120k - ₹499k',
 'Search Engine Optimization (SEO)_salary': '₹224,860',
 'Security Analyst': '₹411k - ₹3m',
 'Security Intrusion Detection_percent': '3%',
 'Security Policies and Procedures_percent': '21%',
 'Security Policies and Procedures_salary': '₹995,250',
 'Security Risk Management_percent': '18%',
 'Security Risk Management_salary': '₹968,830',
 'Security Testing and Auditing_percent': '-2%',
 'Security Testing and Auditing_salary': '₹808,255',
 'Selenium Automated Test Tool_percent': '40%',
 'Selenium Automated Test Tool_salary': '₹486,975',
 'Senior Business Analyst': '₹442k - ₹2m',
 'Senior Database Administrator (DBA)': '₹240k - ₹1m',
 'Senior Project Manager, IT': '₹156k - ₹781k',
 'Senior Quality Assurance (QA) / Test Automation Engineer': '₹211k - ₹1m',
 'Senior SAP Consultant': '₹686k - ₹2m',
 'Senior Software Engineer': '₹488k - ₹2m',
 'Senior Systems Engineer': '₹220k - ₹1m',
 'Senior Test Engineer': '₹408k - ₹1m',
 'Service Delivery Manager': '₹1m - ₹3m',
 'Service Oriented Architecture (SOA)_percent': '8%',
 'Shell Scripting_percent': '36%',
 'Shell Scripting_salary': '₹446,478',
 'Siemens': '₹896k',
 'Sify': '₹182k',
 'Social Media Manager': '₹161k - ₹711k',
 'Social Media Marketing_salary': '₹204,464',
 'Social Media Optimization_salary': '₹230,862',
 'Societe Generale': '₹900k',
 'Software Architecture_percent': '12%',
 'Software Architecture_salary': '₹2,052,594',
 'Software Developer': '₹211k - ₹1m',
 'Software Development Management_salary': '₹2,992,862',
 'Software Development_percent': '4%',
 'Software Development_salary': '₹1,293,950',
 'Software Engineer': '₹261k - ₹1m',
 'Software Engineer / Developer / Programmer': '₹220k - ₹1m',
 'Software Test Lead': '₹649k - ₹2m',
 'Software Test_salary': '₹389,093',
 'Software Tester': '₹583k - ₹2m',
 'Solution IT': '₹421k',
 'Sonata Software Limited': '₹900k',
 'Sopra Group India': '₹261k - ₹1m',
 'Sopra Steria': '₹1m',
 'Spring_percent': '20%',
 'Spring_salary': '₹1,001,935',
 'Sr. Network Engineer': '₹290k - ₹1m',
 'Sr. Software Engineer / Developer / Programmer': '₹426k - ₹2m',
 'Sr. Test / Quality Assurance (QA) Engineer, (Computer Software)': '₹649k - ₹2m',
 'Statistical Analysis_percent': '15%',
 'Statistical Analysis_salary': '₹933,552',
 'Strategic Planning_percent': '14%',
 'Strategic Project Management_percent': '-2%',
 'Strategic Project Management_salary': '₹3,374,003',
 'Swift Programming Language_salary': '₹501,934',
 'Switches & Firewall Installation and Administration_percent': '16%',
 'Switches & Firewall Installation and Administration_salary': '₹725,231',
 'Switching and Routing_percent': '6%',
 'Switching and Routing_salary': '₹735,635',
 'Sykes Enterprises, Incorporated': '₹1m',
 'Symantec Corporation': '₹2m',
 'Synechron Technologies': '₹2m',
 'Syntel, Inc.': '₹808k',
 'System Administration_percent': '-24%',
 'System Administration_salary': '₹404,359',
 'System Administrator, Computer / Network': '₹151k - ₹676k',
 'System Administrator, Windows Server': '₹171k - ₹879k',
 'System Architecture_percent': '4%',
 'System Architecture_salary': '₹1,904,316',
 'System Testing_salary': '₹387,487',
 'Systems Administrator': '₹179k - ₹924k',
 'Systems Engineer (Computer Networking / IT)': '₹389k - ₹2m',
 'Systems Engineer, IT': '₹153k - ₹721k',
 'Systems Engineering_percent': '8%',
 'Systems Engineering_salary': '₹574,141',
 'Systems Troubleshooting_percent': '-7%',
 'Systems Troubleshooting_salary': '₹306,253',
 'TCP/IP_percent': '-2%',
 'TCSI': '₹336k',
 'Tableau Software_salary': '₹578,219',
 'Talentica Software': '₹539k',
 'Tata Communications Ltd': '₹245k',
 'Tata Consultancy Services Limited': '₹429k',
 'Tata Elxsi': '₹723k',
 'Tavant Technologies Inc': '₹1m',
 'Team Leader, IT': '₹583k - ₹2m',
 'Team Leadership_percent': '-2%',
 'Team Leadership_salary': '₹1,156,377',
 'Team Management_percent': '-19%',
 'Team Management_salary': '₹1,536,307',
 'Techmahindra Ltd': '₹379k',
 'Technical Analysis_percent': '-2%',
 'Technical Analysis_salary': '₹1,531,767',
 'Technical Consultant': '₹308k - ₹2m',
 'Technical Project Manager': '₹241k - ₹936k',
 'Technical Services_percent': '20%',
 'Technical Services_salary': '₹601,512',
 'Technical Support Engineer': '₹411k - ₹3m',
 'Telecommunications_percent': '10%',
 'Test / Quality Assurance (QA) Engineer (Computer Software)': '₹180k - ₹781k',
 'Test Automation_percent': '40%',
 'Test Automation_salary': '₹450,817',
 'Test Engineer': '₹394k - ₹1m',
 'Test Planning_salary': '₹406,557',
 'The Goldman Sachs Group, Inc.': '₹374k',
 'Thoughtworks, Inc.': '₹1m',
 'Tietoenator': '₹1m',
 'Transact-SQL_salary': '₹458,096',
 'Troubleshooting_percent': '-4%',
 'Troubleshooting_salary': '₹484,130',
 'UBS': '₹3m',
 'UI Developer': '₹301k - ₹1m',
 'UNIX_percent': '4%',
 'UNIX_salary': '₹518,813',
 'UST Global Inc': '₹2m',
 'Unisys Corporation': '₹261k - ₹1m',
 'VMware ESX_percent': '54%',
 'VMware ESX_salary': '₹515,100',
 'Virtualization_percent': '22%',

In [ ]:
df2 = pd.read_csv('pay_scale.csv')
df2.head()

ParserError: ignored

# Mergining Data Files

Names of the files:


'Business_Analyst%2C_IT.csv'

'Data_Scientist.csv'

'Database_Administrator_(DBA).csv'

'Information_Technology_(IT)_Consultant.csv'

'Information_Technology_(IT)_Director.csv'

'Information_Technology_(IT)_Manager.csv'

'Information_Technology_Specialist.csv'

'Lead_Software_Engineer.csv'

'Network_Engineer.csv'

'Oracle_Database_Administrator_(DBA).csv'

'Product_Manager%2C_Software.csv'

'Project_Manager%2C_Information_Technology_(IT).csv'

'Project_Manager%2C_Software_Development.csv'

'Quality_Assurance_(QA)_Engineer.csv'

'SAP_Consultant.csv'

'Security_Consultant%2C_(Computing_%2F_Networking_%2F_Information_Technology).csv'

'Senior_Database_Administrator_(DBA).csv'

'Senior_Software_Engineer.csv'

'Senior_Systems_Analyst (1).csv'

'Senior_Systems_Analyst.csv'

'Senior_Systems_Engineer.csv'

'Senior_Technical_Consultant.csv'

'Software_Architect.csv'

'Software_Developer.csv'

'Software_Engineer.csv'

'Solutions_Architect.csv'

'Sr._Software_Engineer_%2F_Developer_%2F_Programmer.csv'

'Systems_Administrator.csv'

'Systems_Analyst.csv'

'Systems_Engineer_(Computer_Networking_%2F_IT).csv'

'Technical_Architect.csv'

'Technical_Consultant.csv'

'Technical_Project_Manager.csv'

'Technical_Support_Engineer.csv'

'Technical_Support_Specialist.csv'

In [8]:
df1 = pd.read_csv('Business_Analyst%2C_IT.csv')
df2= pd.read_csv('Data_Scientist.csv')
df3 = pd.read_csv('Database_Administrator_(DBA).csv')
df4 = pd.read_csv('Information_Technology_(IT)_Consultant.csv')
df5 = pd.read_csv('Information_Technology_(IT)_Director.csv')
df6 = pd.read_csv('Information_Technology_(IT)_Manager.csv')
df7 = pd.read_csv('Information_Technology_Specialist.csv')
df8 = pd.read_csv('Lead_Software_Engineer.csv')
df9 = pd.read_csv('Network_Engineer.csv')
df10 = pd.read_csv('Oracle_Database_Administrator_(DBA).csv')
df11 = pd.read_csv('Product_Manager%2C_Software.csv')
df12 = pd.read_csv('Project_Manager%2C_Information_Technology_(IT).csv')
df13 = pd.read_csv('Project_Manager%2C_Software_Development.csv')
df14 = pd.read_csv('Quality_Assurance_(QA)_Engineer.csv')
df15 = pd.read_csv('SAP_Consultant.csv')
df16 = pd.read_csv('Security_Consultant%2C_(Computing_%2F_Networking_%2F_Information_Technology).csv')
df17 = pd.read_csv('Senior_Database_Administrator_(DBA).csv')
df18 = pd.read_csv('Senior_Software_Engineer.csv')
df19 = pd.read_csv('Senior_Systems_Analyst (1).csv')
df20 = pd.read_csv('Senior_Systems_Analyst.csv')
df21 = pd.read_csv('Senior_Systems_Engineer.csv')
df22 = pd.read_csv('Senior_Technical_Consultant.csv')
df23 = pd.read_csv('Software_Architect.csv')
df24 = pd.read_csv('Software_Developer.csv')
df25 = pd.read_csv('Software_Engineer.csv')
df26 = pd.read_csv('Solutions_Architect.csv')
df27 = pd.read_csv('Sr._Software_Engineer_%2F_Developer_%2F_Programmer.csv')
df28 = pd.read_csv('Systems_Administrator.csv')
df29 = pd.read_csv('Systems_Analyst.csv')
df30 = pd.read_csv('Systems_Engineer_(Computer_Networking_%2F_IT).csv')
df31 = pd.read_csv('Technical_Architect.csv')
df32 = pd.read_csv('Technical_Consultant.csv')
df33 = pd.read_csv('Technical_Project_Manager.csv')
df34 = pd.read_csv('Technical_Support_Engineer.csv')
df35 = pd.read_csv('Technical_Support_Specialist.csv')

result = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df35], axis=0, ignore_index=True)

result

     Unnamed: 0 average_salary  ... HTML_percent PHP_percent
0             0       ₹607,210  ...          NaN         NaN
1             1       ₹607,210  ...          NaN         NaN
2             2       ₹607,210  ...          NaN         NaN
3             0       ₹813,769  ...          NaN         NaN
4             1       ₹813,769  ...          NaN         NaN
..          ...            ...  ...          ...         ...
100           1       ₹328,287  ...          NaN         NaN
101           2       ₹328,287  ...          NaN         NaN
102           0       ₹499,183  ...          NaN         NaN
103           1       ₹499,183  ...          NaN         NaN
104           2       ₹499,183  ...          NaN         NaN

[105 rows x 558 columns]

In [11]:
len(result.columns)

558

In [12]:
result.columns

Index(['Unnamed: 0', 'average_salary', 'Bonus', 'Profit Sharing', '10%',
       'MEDIAN', '90%', 'IndiaNIC Infotech Ltd', 'Neosoft', 'Xento Systems',
       ...
       'SAP Human Resources (SAP HR)_percent',
       'SAP Financial Accounting and Controlling (SAP FICO)_percent',
       'SAP Enterprise Resource Planning (ERP)_percent',
       'SAP Production Planning (SAP PP)_percent', 'SAP Security_percent',
       'SAP Materials Management (SAP MM)_percent', 'Python_percent',
       'Angular.js_percent', 'HTML_percent', 'PHP_percent'],
      dtype='object', length=558)

In [15]:
result = result[result['Unnamed: 0'] == 0]
result

     Unnamed: 0 average_salary  ... HTML_percent PHP_percent
0             0       ₹607,210  ...          NaN         NaN
3             0       ₹813,769  ...          NaN         NaN
6             0       ₹495,452  ...          NaN         NaN
9             0       ₹900,034  ...          NaN         NaN
12            0     ₹3,445,390  ...          NaN         NaN
15            0     ₹1,286,133  ...          NaN         NaN
18            0     ₹1,090,551  ...          NaN         NaN
21            0     ₹1,476,916  ...          NaN         NaN
24            0       ₹324,447  ...          NaN         NaN
27            0       ₹575,189  ...          NaN         NaN
30            0     ₹1,680,029  ...          NaN         NaN
33            0     ₹1,508,584  ...          NaN         NaN
36            0     ₹1,568,464  ...          NaN         NaN
39            0       ₹384,521  ...          NaN         NaN
42            0       ₹646,354  ...          NaN         NaN
45            0       ₹822,817  ...          NaN         NaN
48            0     ₹1,039,560  ...          NaN         NaN
51            0       ₹907,866  ...         -16%        -24%
54            0       ₹860,548  ...          NaN         NaN
57            0       ₹860,548  ...          NaN         NaN
60            0       ₹532,960  ...          NaN         NaN
63            0     ₹1,243,085  ...          NaN         NaN
66            0     ₹2,093,524  ...          NaN         NaN
69            0       ₹493,576  ...         -16%        -24%
72            0       ₹528,922  ...         -12%        -24%
75            0     ₹1,826,938  ...          NaN         NaN
78            0       ₹874,661  ...         -16%        -24%
81            0       ₹403,348  ...          NaN         NaN
84            0       ₹658,053  ...          NaN         NaN
87            0       ₹323,963  ...          NaN         NaN
90            0     ₹1,867,490  ...          NaN         NaN
93            0       ₹820,432  ...          NaN         NaN
96            0     ₹1,561,444  ...          NaN         NaN
99            0       ₹328,287  ...          NaN         NaN
102           0       ₹499,183  ...          NaN         NaN

[35 rows x 558 columns]

In [16]:
result['Job Title']

0                                 Business_Analyst%2C_IT
3                                         Data_Scientist
6                           Database_Administrator_(DBA)
9                 Information_Technology_(IT)_Consultant
12                  Information_Technology_(IT)_Director
15                   Information_Technology_(IT)_Manager
18                     Information_Technology_Specialist
21                                Lead_Software_Engineer
24                                      Network_Engineer
27                   Oracle_Database_Administrator_(DBA)
30                           Product_Manager%2C_Software
33        Project_Manager%2C_Information_Technology_(IT)
36               Project_Manager%2C_Software_Development
39                       Quality_Assurance_(QA)_Engineer
42                                        SAP_Consultant
45     Security_Consultant%2C_(Computing_%2F_Networki...
48                   Senior_Database_Administrator_(DBA)
51                              Senior_Software_Engineer
54                                Senior_Systems_Analyst
57                                Senior_Systems_Analyst
60                               Senior_Systems_Engineer
63                           Senior_Technical_Consultant
66                                    Software_Architect
69                                    Software_Developer
72                                     Software_Engineer
75                                   Solutions_Architect
78     Sr._Software_Engineer_%2F_Developer_%2F_Progra...
81                                 Systems_Administrator
84                                       Systems_Analyst
87         Systems_Engineer_(Computer_Networking_%2F_IT)
90                                   Technical_Architect
93                                  Technical_Consultant
96                             Technical_Project_Manager
99                            Technical_Support_Engineer
102                         Technical_Support_Specialist
Name: Job Title, dtype: object

In [17]:
result.to_csv('Payscale_final.csv')

In [18]:
result.head()

    Unnamed: 0 average_salary  ... HTML_percent PHP_percent
0            0       ₹607,210  ...          NaN         NaN
3            0       ₹813,769  ...          NaN         NaN
6            0       ₹495,452  ...          NaN         NaN
9            0       ₹900,034  ...          NaN         NaN
12           0     ₹3,445,390  ...          NaN         NaN

[5 rows x 558 columns]

In [19]:
result.set_index('Job Title', inplace=True)
result.head()

                                        Unnamed: 0  ... PHP_percent
Job Title                                           ...
Business_Analyst%2C_IT                           0  ...         NaN
Data_Scientist                                   0  ...         NaN
Database_Administrator_(DBA)                     0  ...         NaN
Information_Technology_(IT)_Consultant           0  ...         NaN
Information_Technology_(IT)_Director             0  ...         NaN

[5 rows x 557 columns]

In [27]:
column_list = list()
for column in result.columns:
  if result[column].isna().sum() == 0:
    column_list.append(column)
column_list

['Unnamed: 0',
 'average_salary',
 'Bonus',
 'Profit Sharing',
 '10%',
 'MEDIAN',
 '90%',
 'IndiaNIC Infotech Ltd',
 'Neosoft',
 'Xento Systems',
 'Software Engineer',
 'Senior Software Engineer',
 'Software Developer',
 'Sr. Software Engineer / Developer / Programmer',
 'Web Developer',
 'Software Engineer / Developer / Programmer',
 'Team Leader, IT',
 'Associate Software Engineer',
 '.NET Software Developer / Programmer',
 'career_paths',
 'PHP_salary',
 'MySQL_salary',
 'JavaScript_salary',
 'jQuery_salary',
 'HTML5_salary',
 '1yr',
 '1-4yrs',
 '5-9yrs',
 '10-19yrs',
 'Jio',
 'Solution IT',
 'Tata Consultancy Services Limited',
 'Cognizant',
 'Java Developer',
 'Android Software Development Kit (SDK)_salary',
 'Java_salary',
 'Mobile applications development_salary',
 'Android Operating System Development_salary',
 'SQLite_salary',
 'Accenture Technology Solutions',
 'Amazon.com Inc',
 'IBM India Private Limited',
 'Accenture',
 'InfoSys Limited',
 'Wipro Technologies Ltd.',
 'Linux System Administrator',
 'Systems Engineer, IT',
 'Lead Software Engineer',
 'Development Operations (DevOps)_salary',
 'Amazon Web Services (AWS)_salary',
 'Linux_salary',
 'Jenkins_salary',
 'Automation Scripting_salary',
 'Commission',
 'Vmware, Inc.',
 'ZOHO Corporation',
 'HP Inc.',
 'HCL Technologies Ltd.',
 'Cybage',
 'Convergys Corporation',
 'Concentrix Corporation',
 'Information Technology (IT) Consultant',
 'Information Technology (IT) Manager',
 'Project Manager, Information Technology (IT)',
 'Troubleshooting_salary',
 'Customer Service_salary',
 'Network Support_salary',
 'Systems Troubleshooting_salary',
 'Microsoft Office_salary',
 '20+yrs',
 'Bangalore, Karnataka_percent',
 'Hyderabad, Andhra Pradesh_percent',
 'Chennai, Tamil Nadu_percent',
 'Pune, Maharashtra_percent',
 'Gurgaon, Haryana_percent',
 'New Delhi, Delhi_percent',
 'Mumbai, Maharashtra_percent',
 'Experienced_percent',
 'Mid Career_percent',
 'Late Career_percent',
 'Early Career_percent',
 'Entry Level_percent',
 'Linux_percent',
 'SQL_percent',
 'Information Technology (IT) Support_percent',
 'Troubleshooting_percent',
 'Customer Service_percent',
 'Systems Troubleshooting_percent',
 'Windows Support_percent',
 'Network Support_percent',
 'Microsoft Office_percent',
 'Windows Operating System General Use_percent',
 'Entry Level',
 'Early Career',
 'Mid Career',
 'Experienced',
 'Late Career',
 'Male',
 'Female',
 'Medical',
 'Dental',
 'Vision',
 'None']

In [28]:
len(column_list)

103